flask==3.1.1 
sentence-transformers==4.1.0
pypdf==5.6.1 
python-dotenv==1.1.0
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-pinecone
langchain-openai
ipykernel
-e .
